* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
}

:root {
  --primary-color: #000;
  --min-width-modal: 275px;
  --max-width-modal: 95%;
  --base-color: #e0e0e0;
  --color-text-soft: rgba(0, 0, 0, 0.7);
}

body {
  font-family: monospace;
  font-size: 16px;
  background-color: var(--base-color);
}


/* Para utilizar los iconos de material solo debo crear un span con la clase material-icons 
   Y dentro del span colocar el nombre del icono. 

   Ejemplo:
   <span class="material-icons">delete</span>

   Esto pintaria en pantalla el icono de papelera.
*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#app {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

.ellipsis-text {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#btn-add-new-category {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: transparent;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 101px;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
  padding: 10px;
}

#btn-add-new-category:active {
  border-radius: 101px;
  background: linear-gradient(145deg, #cacaca, #f0f0f0);
  box-shadow: 20px 20px 60px #bebebe,
    -20px -20px 60px #ffffff;
}

#modal-detail,
#modal-add-spent,
#modal-confirm-delete-category,
#modal-confirm-delete-expense,
#modal-add-category {
  min-width: var(--min-width-modal);
  max-width: var(--max-width-modal);
  border-radius: 10px;
  padding: 20px;
  background-color: var(--base-color);
}

#modal-detail table {
  width: 99%;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #acacac,
    -5px -5px 10px #ffffff;
}

#modal-detail div {
  margin-bottom: 20px;
  color: var(--color-text-soft);
}

#modal-detail #btn-close-detail {
  color: var(--color-text-soft);
  padding: 5px 11px;
  border-radius: 100px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #acacac,
    -5px -5px 10px #ffffff;
}

#modal-detail #btn-close-detail:active {
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #acacac,
    inset -5px -5px 10px #ffffff;
}

#modal-detail table button {
  color: var(--color-text-soft);
  padding: 5px 8px;
  border-radius: 100px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #acacac,
    -5px -5px 10px #ffffff;
}

#modal-detail table button:active {
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #acacac,
    inset -5px -5px 10px #ffffff;
}

#modal-detail table td {
  color: var(--color-text-soft);
  white-space: nowrap;
}

#modal-add-spent form,
#modal-add-category form {
  display: flex;
  flex-direction: column;
}

#modal-add-spent div,
#modal-add-category div {
  margin-top: 10px;
}

#modal-add-spent input,
#modal-add-category input {
  padding: 5px 15px;
  color: var(--color-text-soft);
  margin: 5px 0;
  border: none;
  outline: none;
  background-color: transparent;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #acacac,
    inset -5px -5px 10px #ffffff;
}

#modal-add-spent label,
#modal-add-category label,
#modal-add-spent h4,
#modal-add-category h4 {
  color: var(--color-text-soft);
}

#modal-add-spent button,
#modal-add-category button {
  color: var(--color-text-soft);
  padding: 5px 10px;
  border-radius: 25px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #acacac,
    -5px -5px 10px #ffffff;
}

#modal-add-spent button:active,
#modal-add-category button:active {
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #acacac,
    inset -5px -5px 10px #ffffff;
}

#modal-confirm-delete-category p,
#modal-confirm-delete-expense p {
  margin: 15px 0;
  color: var(--color-text-soft);
}

#modal-confirm-delete-category h4,
#modal-confirm-delete-category button,
#modal-confirm-delete-expense h4,
#modal-confirm-delete-expense button {
  color: var(--color-text-soft);
}

#modal-confirm-delete-category button,
#modal-confirm-delete-expense button {
  padding: 5px 10px;
  border-radius: 25px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #acacac,
    -5px -5px 10px #ffffff;
}

#modal-confirm-delete-category button:active,
#modal-confirm-delete-expense button:active {
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #acacac,
    inset -5px -5px 10px #ffffff;
}

.card {
  color: var(--color-text-soft);
  min-width: 160px;
  max-width: 160px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #acacac,
    inset -5px -5px 10px #ffffff;
}

.card:hover {
  border-radius: 10px;
  background: #e0e0e0;
  box-shadow: 5px 5px 10px #acacac,
    -5px -5px 10px #ffffff;
}

.card h1 {
  font-size: 20px;
  font-weight: lighter;
}

.card .progressbar {
  width: 100%;
  height: 10px;
  margin: 0 auto;
  border-radius: 100px;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 10px #acacac,
    inset -5px -5px 10px #ffffff;
  ;
}

.card .progressbar .progress {
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.7);
  border-radius: 25px;
}

.card .actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .actions .group {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.card .actions .group button {
  color: var(--color-text-soft);
  outline: none;
  border: none;               
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 5px 5px 10px #acacac,-5px -5px 10px #ffffff;
}

.card .actions .group button:active {
  border-radius: 50%;
  background: #e0e0e0;
  box-shadow: inset 5px 5px 15px #cecece, inset -5px -5px 15px #f2f2f2;
}

table,
tr,
th,
td {
  border: 1px solid var(--color-text-soft);
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
  color: var(--color-text-soft);
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 10px;
}

dialog::backdrop {
  background-color: rgba(0, 0, 0, 0.5);
}

dialog div {
  position: relative;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dialog button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
}