* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: monospace;
  font-size: 16px;
}

:root {
  --primary-color   : #000;
  --min-width-modal : 275px;
  --max-width-modal : 95%;
}

/* Para utilizar los iconos de material solo debo crear un span con la clase material-icons 
   Y dentro del span colocar el nombre del icono. 

   Ejemplo:
   <span class="material-icons">delete</span>

   Esto pintaria en pantalla el icono de papelera.
*/

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

#app {
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}

#modal-detail, 
#modal-add-spent,
#modal-confirm-delete-category,
#modal-add-category {
  min-width: var(--min-width-modal);
  max-width: var(--max-width-modal);
}

#modal-detail table {
  width: 99%;
}

#modal-detail table td {
  white-space: nowrap;
}

#modal-add-spent form, 
#modal-add-category form {
  display: flex;
  flex-direction: column;
}

#modal-add-spent div,
#modal-add-category div {
  margin-top: 10px;
}

#modal-add-spent input,
#modal-add-category input {
  padding: 5px;
  margin: 5px 0;
  border: none;
}

#modal-confirm-delete-category p {
  margin: 15px 0;
}

.card {
  min-width: 150px;
  max-width: 150px;
  box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.1);
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}

.card h1 {
  font-size: 20px;
  font-weight: lighter;
}

.card .progressbar {
  width: 100%;
  height: 5px;
  background-color: lightgray;
  margin: 0 auto;
  border-radius: 25px;
}

.card .progressbar .progress {
  height: 100%;
  width: 100%;
  background-color: purple;
  border-radius: 25px;
}

.card .actions {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card .actions .group {
  width: 100%;
  display: flex;
  gap: 10px;
}

.card .actions .group button {
  flex: 1;
}

table, tr, th, td {
  border: 1px solid #000;
  border-collapse: collapse;
  padding: 5px;
  text-align: center;
}

dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: none;
  padding: 10px;
}

dialog::backdrop {
  background-color: rgba(0,0,0,0.5);
}

dialog div {
  position: relative;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

dialog button {
  border: none;
  cursor: pointer;
  font-size: 20px;
  background-color: transparent;
}